@font-face{ 
  font-family: 'FiraSans-SemiBold';
  src: url('../../assets/utils/fire-sans/FiraSans-SemiBold.woff') format("opentype");
  src: url('../../assets/utils/fire-sans/FiraSans-SemiBold.otf') format("opentype");
}
@font-face{ 
  font-family: 'FiraSans-Regular';
  src: url('../../assets/utils/fire-sans/FiraSans-SemiBold.woff') format("opentype");
  src: url('../../assets/utils/fire-sans/FiraSans-Regular.otf') format("opentype");
}
/* First part of site */
.cred-container-first{
  position: relative;
  display: block;
}
.cred-container-first-central{
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 32px;
  height: 768px;
  min-width: 930px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 10;
}
.cred-container-superior-left{
  width: calc(50% - 97px);
  display: inline-block;
  height: 768px;
}
.cred-container-superior-rigth{
  width: calc(50% - 94px);
  height: 768px;
  display: block;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 32px;
  float: right;
  background-image: url('../../assets/utils/images/concert-768722_1920.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}
.cred-container-first-central{
  width: calc(50% - 94px);
  display: inline-block;
}
.cred-container-first-central span{
  font-size: 36px;
  position: absolute;
  color: #0D456F;
}
.cred-container-first-central p{
  font-size: 20px;
  font-family: 'FiraSans-Regular';
  color: #3F4243;
  width: 370px;
  margin-top: 5%;
}
.cred-container-first-central h3{
  font-size: 48px;
  font-family: 'FiraSans-SemiBold';
  color: #0D456F;
  width: 370px;
  padding-top: 4%;
}
.cred-container-superior-rigth p {
  font-family: 'FiraSans-Regular';
  color: #fff;
  font-size: 16px;
  float: right;
  padding-top: 12px; 
  padding-right: 18px; 
}
#cred-btn-first span::before{
  float: right;
  color: #0D456F;
  display: inline;
  line-height: 16px;
  width:  5px;
  font-size: 16px;
}
#cred-btn-first div{ 
  height: 14px;
  width: 8px;
  display: inline;
  float: left;
}
#cred-btn-first{
  width: 96px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: 'FiraSans-SemiBold';
  font-size: 16px;
  color: #0D456F;
}
.cred-login-container-first{
  width: 270px;
  position: absolute;
  top: 30px;
  right: 47px;

}
.cred-login-container-first p{
  font-size: 16px;
  color: #fff;
  display: inline-block;
  width: 165px;
}
.cred-login-container-first button{
  display: inline-block;

}
#icon-arrow-down-icon-superior{
  position: absolute;
  right: 52%;
}
.cred-btn-duvida{
  height: 48px;
  width: 130px;
  border-radius: 32px;
  border: 1px solid #fff;
  background-color: #fff; 
  font-family:'FiraSans-SemiBold';
  color: #0D456F;
  font-size: 16px;
  position: absolute;
  right: 25px;
  bottom: 52px;
}
.cred-btn-duvida span{ 
  font-size: 32px; 
  line-height: 48px;
}
.cred-btn-duvida p{
  color: #0D456F;
}
.cred-btn-login{
  font-family: 'FiraSans-SemiBold';
  color: #0D456F;
  width: 96px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff; 
}
.cred-btn-login span{
  color: #0D456F;
  display: inline;
  font-size: 16px;
}
.cred-btn-login span::before{
  color: #0D456F;
  display: inline;
}
.cred-btn-menu{
  width: 65px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #0D456F;
  color: #0D456F;
  font-family: 'FiraSans-SemiBold';
  margin-right: 23.5px; 
}
.cred-container-logo{
  background-image: url('../../assets/utils/credicard-logo.svg');
  height: 21.1px;
  width: 156px;
  display: inline-block;
  vertical-align: -6px; 
}
.cred-container-menu-logo{
  height: 40px;
  width: 250px;
  display: inline-block;
}
.cred-container-image{
  background-image: url('../../assets/utils/images/cred-1.png'); 
  background-size:contain;
  background-repeat: no-repeat;
  height: 214px;
  width: 150px;
  margin-top: 7%; 

}
.cred-btn-quero{
  background-color: #D01481;
  height: 44px;
  width: 210px;
  border-radius: 4px;
  border: 1px solid #D01481;
  font-family: 'FiraSans-SemiBold';
  color: #fff;
  margin-top: 5%;
}
/* Secund part of site */
.cred-container-central-slide{
  width: 930px;
  margin: auto;
  position: relative;
}
.cred-container-login-acesso-sc p{
  color: #fff;
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  line-height: 40px;
}
.cred-container-login-acesso-sc{
  display: inline-block;
  float: right;
  width: 300px;
}
.cred-btn-menu-sc{
  width: 65px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'FiraSans-SemiBold';
  margin-right: 23.5px; 
}
.cred-container-logo2{
  background-image: url('../../assets/utils/credicard-logo2.svg');
  height: 21.1px;
  width: 156px;
  display: inline-block;
  vertical-align: -6px; 
}
.cred-btn-duvida-sc p{
  line-height: 48px;
}
.cred-btn-duvida-sc span{
  font-size: 32px; 
  float: left;
  line-height: 48px;
}
.cred-btn-duvida-sc{
  height: 48px;
  width: 130px;
  border-radius: 32px;
  border: 1px solid #fff;
  background-color: #fff; 
  font-family:'FiraSans-SemiBold';
  color: #0D456F;
  font-size: 16px;
  position: absolute;
  right: 22px;
  bottom: 22px;
}
.cred-btn-login-sc p{
  font-family: 'FiraSans-Regular' !important;
  color: #fff !important;
}
.cred-btn-login-sc span::before{
  color: #0D456F;
}
.cred-btn-login-sc{
  font-family: 'FiraSans-SemiBold';
  color: #0D456F;
  width: 96px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff; 
  float: right;
}
.icon-arrow-down-icon{
  display: block;
  margin: auto;
  width: 36px;
  font-size: 36px;
  color: #fff;
  padding-top: 10px;
}
.cred-container-segund{
  position: relative;
  height: 768px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 32px; 
  background: radial-gradient( #0b917a,#143251 ) ,radial-gradient( #143251, #0b917a);
}
.cred-paragrafh{
  font-family: 'FiraSans-Regular';
  font-size: 20px;
  color: #fff;
  margin-top: 30px;
}
.cred-container-card:last-child{
  margin-right: 0 !important;
}
.cred-container-card{
  height: 323px;
  width: 210px;
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  position: relative;
  box-shadow: 2px 0 24px rgba(63, 66, 67, 0.596);
}
.cred-container-card h5{
  font-family: 'FiraSans-semiBold';
  font-size: 20px; 
  color: #0D456F;
  padding-top: 20px; 
  padding-left: 15px; 
}
.cred-container-card p{
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: rgba(63,66,67,1);
  padding-top: 20px; 
  padding-left: 15px; 
}
.cred-plus{
  height: 20px;
  width: 20px;
  background-color: #0D456F;
  display: inline-block;
  border-radius: 4px 0 4px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}
.cred-plus span {
  color: #fff;
  font-size: 18px;
  font-weight: 100; 
}
.cred-container-menu-login{
  width: 930px;
  margin: auto;
}
.path1 , .path2 , .path3 , .path5 {
  color: #0D456F;
}
.cred-container-cards{
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.cred-card-image{
  background-image: url('../../assets/utils/images/concert-1209323_1920.jpg');
  background-size: cover;
  height: 160px;
  border-radius: 4px 4px 0 0; 
}
.cred-arrow-left{
  position: absolute;
  transform: rotate(90deg);
  top: 45%;
  z-index: 10;
  left: -45px;
}
.cred-arrow-right{
  position: absolute;
  transform: rotate(-90deg);
  top: 45%;
  z-index: 10;
  right: -45px;
}
.cred-container-segund h4{
  font-size: 48px;
  font-family: 'FiraSans-semiBold';
  color: #fff;
  margin-top: 80px;
}
.cred-ball-active{
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.cred-container-balls{
  width: 50px;
  margin: auto;
  margin-top: 20px;
}
.cred-ball{
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.4;
  display: inline-block;
}
.cred-container-btn{
  width: 210px;
  margin: auto;
  margin-top: 12px;
}
/* Third part of site */
.cred-btn-menu-th{
  width: 65px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #0D456F;
  color: #0D456F;
  font-family: 'FiraSans-SemiBold';
  margin-right: 23.5px; 
}
.cred-container-logo-th{
  background-image: url('../../assets/utils/credicard-logo.svg');
  height: 21.1px;
  width: 156px;
  display: inline-block;
  vertical-align: -6px; 
}
.cred-container-menu-logo-th{
  height: 40px;
  width: 250px;
  float: left;
  display: block;
  clear: both;
}
.cred-container-login-acesso-th p{
  color: #fff;
  font-family: 'FiraSans-Regular';
  font-size: 16px !important;
  line-height: 40px;
}
.cred-container-login-acesso-th{
  display: inline-block;
  float: right;
  width: 300px;
}
.cred-container-third-menu-login{
  width: 930px;
  margin: auto;
}
.cred-btn-login-th{
  font-family: 'FiraSans-SemiBold';
  color: #fff;
  width: 96px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #0D456F;
  background-color: #0D456F !important; 
  float: right;
}
.cred-btn-login-th span{
  color: #fff;
  margin-right: 5px;
}
.cred-btn-login-th span::before{
  color: #fff;
  font-size: 14px;
}
.cred-container-itens-image{
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: space-between;
  width: 68%;
  margin-top: 90px
}
.cred-container-third{
  height: 768px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 32px; 
  overflow: hidden;
  position: relative;
}
.cred-container-third h4{
  font-size: 48px;
  font-family: 'FiraSans-semiBold';
  color: #0D456F;
  width: 450px;
  margin-top: 50px;
}
.cred-paragrafh-des{
  margin-top: 20px !important; 
  font-size: 20px !important;
  font-family: 'FiraSans-Regular' !important;
  width: 370px !important;
  color: #3F4243 !important;
}
.cred-container-third p {
  font-size: 14px;
  font-family: 'FiraSans-Regular';
  color: #0D456F;
}
.cred-container-third-icons{
  height: 92px;
  width: 92px;
  border-radius: 50%;
  border: 2px solid #d5dadc; 
}
.cred-container-third-icons span {
  font-size:  48px;
  color: #0D456F;
  line-height: 94px;
}
.cred-container-third-icons span::before{
  color: #0D456f;
}
.cred-containers-icons p{
  margin-top: 20px;
}
.cred-containers-icons{
  margin-top: 20px;
  max-width: 92px;
  text-align: center;
  display: inline-block;
  margin-right: 45px;
}
.cred-btn-want-third{
  background-color: #D01481;
  height: 44px;
  width: 210px;
  border-radius: 4px;
  border: 1px solid #D01481;
  font-family: 'FiraSans-SemiBold';
  color: #fff;
  margin-top: 35px;
  display: inline-block;
}
.cred-icons{
  margin-top: 30px;
  /* width: 100%; */
}
.cred-container-third-itens{
  width: 100%;
  display: inline-block;
}
.cred-image-third{
  background-image: url('../../assets/utils/images/cel-cred.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 528px;
  width: 290px; 
  display: inline-block;
  margin-top: 90px; 
}
.cred-btn-duvida-th{
  height: 48px;
  width: 130px;
  border-radius: 32px;
  border: 1px solid #0D456F;
  background-color: #0D456F; 
  font-family:'FiraSans-SemiBold';
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 22px;
  bottom: 22px;
}
.cred-btn-duvida-th span{ 
  font-size: 32px; 
  float: left;
  line-height: 48px;
}
.cred-btn-duvida-th p{
  color: #fff;
  line-height: 48px;
}
.cred-container-third-arrow span{
  color: #0D456F !important;
}
.cred-container-third-arrow{
  width: 50px;
  height: 40px;
  margin: auto;
  display: block;   
  margin-top: 40px;
}
/* Fouth part of site */
.cred-container-fourth-things{
  width: 930px;
  margin: auto;
}
.cred-container-fourth{
  height: 768px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 32px; 
  background: radial-gradient( #4d2353, #ad1a72), radial-gradient( #ad1a72,#4d2353);
  position: relative;
}
.cred-container-fourth-image{
  background-image: url('../../assets/utils/images/cred-1.png');
  height: 214px;
  width: 150px;
}
.cred-container-ad{
  width: 290px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding-right: 30px;
}
.cred-container-ad-box{
  height: 500px;
  display: inline-block;
  margin-top: 100px;
}
.cred-container-login-acesso-fh p{
  color: #fff;
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  line-height: 40px;
}
.cred-container-login-acesso-fh{
  display: inline-block;
  float: right;
  width: 300px;
}
.cred-container-login-acesso-fh{
  display: inline-block;
  float: right;
}
.cred-btn-login-fh{
  font-family: 'FiraSans-SemiBold';
  color: #0D456F;
  width: 96px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #fff; 
  float: right;
}
.cred-btn-duvida-fh{
  height: 48px;
  width: 130px;
  border-radius: 32px;
  border: 1px solid #fff;
  background-color: #fff; 
  font-family:'FiraSans-SemiBold';
  color: #0D456F;
  font-size: 16px;
  position: absolute;
  right: 22px;
  bottom: 22px;
}
.cred-btn-duvida-fh span{ 
  font-size: 32px; 
  float: left;
  line-height: 48px;
}
.cred-btn-duvida-fh p{
  color: #0D456F;
  line-height: 48px;
}
.cred-btn-login-fh span{
  color: #0D456F;
  margin-right: 5px;
}
.cred-btn-login-fh span::before{
  color: #0D456F;
  font-size: 14px;
}
.cred-btn-see{
  font-family: 'FiraSans-SemiBold';
  font-size: 16px;
  width: 255px;
  height: 44px;
  border-radius: 4px;
  background-color: #00000000;
  border: 1px solid #fff;
  color: #fff;
}
.cred-container-ad span{
  font-family: 'FiraSans-SemiBold';
  font-size: 36px;
  color: #fff;
}
.cred-container-ad h4{
  font-family: 'FiraSans-Regular';
  font-size: 36px;
  color: #fff;
}
.cred-container-ad p {
  font-family: 'FiraSans-Regular';
  color: #fff;
  font-size: 20px;
}
.cred-container-bene {
  float: left;
  width: 232px;
  padding-right: 40px;
  border-right: 1px solid #D8D8D8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.cred-container-bene-p{
  width: 233px;
  float: right;
  display: flex;
  padding-left: 40px; 
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.cred-container-bene h3{
  font-family: 'FiraSans-SemiBold';
  font-size: 30px;
  color: #0D456F;
  width: 198px;
}
.cred-container-bene p{
  font-family: 'FiraSans-Regular';
  font-size: 20px;
  color:#3F4243; 
}
.cred-container-bene-p p{
  color: #3F4243; 
}
.cred-container-bene-p h3{
  font-family: 'FiraSans-SemiBold';
  font-size: 30px;
  color: #0D456F;
}
.icon-card-icon ~ p{
  font-size: 16px !important;
  line-height: 30px;
  color: #3F4243;
}
.icon-card-icon{
  color: #D01481;
  font-size: 30px; 
  float: left;
  display: inline-block;
  padding-right: 15px; 
}
.icon-vee-icon ~ p{
  font-size: 16px !important;
  line-height: 30px;
  color: #3F4243;
}
.icon-vee-icon{
  color: #D01481;
  font-size: 30px; 
  float: left;
  display: inline-block;
  padding-right: 15px;
}
.icon-pig-icon{
  color: #D01481;
  font-size: 30px;
  float: left;
  display: inline-block;
  padding-right: 15px;
}
.icon-pig-icon span::before{
  color: #D01481;
  font-size: 30px;
}
#cred-ano{
  font-size: 16px !important; 
  line-height: 30px;
  color: #3F4243;
}
#cred-anui{
  font-size: 16px !important; 
  line-height: 30px;
  color: #3F4243;
}
.cred-container-bene-p{
  font-family: 'FiraSans-Regular';
}
.cred-container-bene-p p{
  font-family: 'FiraSans-Regular';
  font-size: 20px;
}
.cred-container-box{
  margin-top: 30px;
  width: 546px;
  height: 423px;
  background-color: #fff;
  border-radius: 4px;
  float: right;
  padding-left: 32px;
  padding-right: 32px; 
  padding-top: 47px;
  border-bottom: 1px 1px 24px #3F4243;
  box-shadow: 0 0 24px rgba(63, 66, 67, 0.658);
}
/* Footer of site */
footer{
  height: 288px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 32px; 
  background-color: #0D456F;
  color: #fff;
}
.cred-container-footer-central{
  width: 930px;
  margin: auto;
}
.cred-container-footer-top{
  font-size: 14px;
  font-family: 'FiraSans-Regular';
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #607B93;
}
.cred-container-footer-top p{
  display: inline;
  border-right: 1px solid #607B93;
  padding-right: 15px; 
  padding-left: 10px; 
}
#cred-id-inicio{
  padding-left: 0 !important; 
}
#cred-id-platinum{
  border: none !important;
}
.cred-container-footer-meddle p{  
  font-family: 'FiraSans-Regular';
  font-size: 14px;
}
.cred-container-footer-meddle{
  display: block;
  border-bottom: 1px solid #607B93;
}
.cred-container-footer-meddle-top{
  display: flex;
  justify-content: space-between;
}
.cred-container-footer-meddle-top p{
  display: inline;
  margin-top: 30px;
}
.cred-container-footer-meddle-down{
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cred-container-footer-meddle-down p{
  display: inline;
  padding-right: 105px; 
}
.cred-container-footer-down{
  border-bottom: 1px solid #607B93;
  margin-top: 20px;
  padding-bottom: 20px;
}
#cred-read{ 
  font-family: 'FiraSans-SemiBold';
  font-size: 14px;
}
#cred-bank{
  font-family: 'FiraSans-Regular';
  font-size: 12px;
  padding-top: 5px; 
  font-weight: 50;
}
.cred-container-fooner-year {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cred-container-fooner-year p{
  font-family: 'FiraSans-SemiBold';
  font-size: 12px;
}

/* media screen for 1366 */
@media screen and (min-width:1366px){
  .cred-container-first-central{
    width: 1110px;
  }
  .cred-container-menu-login{
    width: 1110px;
  }
  .cred-container-central-slide{
    width: 1110px;
  }
  .cred-container-card{
    width: 255px;
  }
  .cred-container-third-menu-login{
    width: 1110px;
  }
  .cred-container-fourth-things{
    width: 1110px;
    margin: auto;
  }
  .cred-container-ad-box{
    width: 100%;
  }
  .cred-container-footer-central{
    width: 1110px;
  }
}
/* media screen for 1920 */
@media screen and (max-width:1366px){
  #icon-arrow-down-icon-superior{
    bottom: 40px;
  }
}
@media screen and (min-width:1920px){
  .cred-container-menu-login{
    display: none;
  }
  .cred-btn-duvida-sc{
    display: none;
  }
  .icon-arrow-down-icon{
    display: none;
  }
  .cred-container-things-central{
    display: none;
  }
  .cred-btn-duvida-th{
    display: none;
  }
  .cred-btn-duvida-fh{
    display: none;
  }
}
/*  media sreen for < 1024 */
@media screen and (max-width: 1023px){
  .cred-container-first-central{
    min-width: 688px;
    height: 608px;
  }
  .cred-container-superior-left{
    height: 608px;
  }
  .cred-container-menu-login{
    width: 688px;
  }
  .cred-container-menu-login{
    display: none;
  }
  .cred-btn-duvida{
    top: 68%;
    right: 6%;
  }
  .cred-container-image{
    width: 124px;
    height: 184px;
  }
  #cred-zero{
    font-size: 36px;
    width: 100%;
    word-break: initial;
  }
  .cred-container-first-central > p{
    font-size: 20px;
    width: 330px;
  }
  .cred-container-first-central h3{
    font-size: 36px;
    width: 330px;
  }
  .cred-container-cards > div:nth-child(4){
    display: none;
  }
  .cred-container-central-slide{
    width: 688px;
  }
  .cred-container-segund{
    height: 695px;
  }
  .cred-btn-duvida-sc{
    display: none;
  }
}
