<div class="cred-container-superior-left">    
    <div class="cred-container-menu-logo">
      <button class="cred-btn-menu">menu</button>
      <div class="cred-container-logo"></div>
    </div>
    <div class="cred-container-image"></div>
    <h3>Zerando o melhor da vida</h3>
    <p>O único com anuidade zero de verdade e lotado de benefícios</p>
    <button class="cred-btn-quero">quero um</button>
    <span class="icon-arrow-down-icon"></span>
</div>
<div class="cred-container-superior-rigth">
  <div class="cred-container-login-acesso">
    <button class="cred-btn-login"><span class="icon-icon-1"><span class="path1"></span><span class="path2"></span></span>login</button>
    <p>já tem seu cartão? Acesse</p>
  </div>
  <button class="cred-btn-duvida"><span class="icon-question-icon"></span><p>dúvidas</p></button>
</div>
 <div class="cred-container-segund">
    <div class="cred-container-menu-logo">
        <button class="cred-btn-menu-sc">menu</button>
        <div class="cred-container-logo2"></div>
    </div>
    <div class="cred-container-login-acesso-sc">
      <button class="cred-btn-login-sc"><span class="icon-icon-1"><span class="path1"></span><span class="path2"></span></span>login</button>
      <p>já tem seu cartão? Acesse</p>
    </div>
    <div class="cred-container-central-slide">
      <h4>Zero enrolação para ganhar benefícios</h4>
      <p class="cred-paragrafh">O único com anuidade zero de verdade e lotado de benefícios</p>
      <div class="cred-container-cards">
          <div class="cred-container-card">
              <div class="cred-card-image"></div>
              <span class="dir"></span>
              <span class="esq"></span>
              <div>
                <h5>Uber</h5>
                <p>Ganhe R$ 20 a cada 10 viagens</p>
              </div>
              <span class="cred-plus"><span class="icon-plus-icon"></span></span>
          </div>
          <div class="cred-container-card">
              <div class="cred-card-image"></div>
              <span class="dir"></span>
              <span class="esq"></span>
              <div>
                <h5>Decolar.com</h5>
                <p>Passagens, hoteis e pacotes com até 10% de desconto</p>
              </div>
              <span class="cred-plus"><span class="icon-plus-icon"></span></span>
          </div>
          <div class="cred-container-card">
              <div class="cred-card-image"></div>
              <span class="dir"></span>
              <span class="esq"></span>
              <div>
                <h5>Netshoes</h5>
                <p>Produtos selecionados com até 30% de desconto</p>
              </div>
              <span class="cred-plus"><span class="icon-plus-icon"></span></span>
          </div>
          <div class="cred-container-card">
              <div class="cred-card-image"></div>
              <span class="dir"></span>
              <span class="esq"></span>
              <div>
                <h5>Magazine Luiza</h5>
                <p>Até 20% de desconto</p>
              </div>
              <span class="cred-plus"><span class="icon-plus-icon"></span></span>
          </div>
      </div>
      <div class="cred-container-balls">
          <span class="cred-ball-active"></span>
          <span class="cred-ball"></span>
          <span class="cred-ball"></span>
          <span class="cred-ball"></span>
      </div>
      <div class="cred-container-btn">
          <button class="cred-btn-want" class="cred-btn-quero">quero um</button>
      </div>
      <button class="cred-btn-duvida-sc"><span class="icon-question-icon"></span><p>dúvidas</p></button> 
      <span class="icon-arrow-down-icon"></span>
    </div>
 </div> 
 <div class="cred-container-third">
    <div class="cred-container-menu-logo-th">
        <button class="cred-btn-menu-th">menu</button>
        <div class="cred-container-logo-th"></div>
    </div>
    <div class="cred-container-third-itens">
      <div>
        <h4>Digital pra você zerar a complicação</h4>
        <p class="cred-paragrafh-des">descomplicado e na palma da sua mão para resolver o que você precisa</p>
      </div>
      <div class="cred-icons">
          <div class="cred-containers-icons">
              <div class="cred-container-third-icons"><span class="icon-phone-card-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span></div>
              <p>controle de gastos em tempo real</p>
            </div>
            <div class="cred-containers-icons">
              <div class="cred-container-third-icons"><span class="icon-page-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span></div>
              <p>consulta e pagamento  de fatura</p>
            </div>
            <div class="cred-containers-icons">
              <div class="cred-container-third-icons"><span class="icon-car-icon"></span></div>
              <p>cartão virtual para compras na internet</p>
            </div>
            <div class="cred-containers-icons">
              <div class="cred-container-third-icons"><span class="icon-lock-open-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span></div>
              <p>bloqueio e desbloqueio temporário</p>
            </div>
      </div>
      <button class="cred-btn-want-third" >quero um</button>
    </div>
    <div class="cred-image-third"></div>  
  </div>
 
 <div class="cred-container-fourth"> 
    <div class="cred-container-menu-logo">
        <button class="cred-btn-menu-sc">menu</button>
        <div class="cred-container-logo2"></div>
      </div>
   <div class="cred-container-ad-box">
      <div class="cred-container-ad">
          <div class="cred-container-fourth-image"></div>
          <h4><span>Seja premium:</span> curta a vida com mais benefícios</h4>
          <p>o mesmo cartão com descontos exclusivos para você curtir o mundo</p>
          <button class="cred-btn-see">ver outros cartões</button>
        </div>
        <div class="cred-container-box">
          <div class="cred-container-bene">
            <h3>Credcard ZERO</h3>
            <p>único zero anuidade e cheio de benefícios</p>
            <span><span class="icon-card-icon"></span><p>perfeito para o dia a dia</p></span>
            <span><span class="icon-vee-icon"></span><p>aceito em todo Brasil</p></span>
            <span><span class="icon-pig-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span><p id="cred-ano">anuidade zero</p></span>
            <button class="cred-btn-want" class="cred-btn-quero">quero um</button>
          </div>
          <div class="cred-container-bene-p">
              <h3>Credcard ZERO Premium</h3>
              <p>mais benefícios pra vc curtir a vida com estilo</p>
              <span><span class="icon-card-icon"></span><p>perfeito para o dia a dia</p></span>
              <span><span class="icon-vee-icon"></span><p>aceito em todo mundo</p></span>
              <span><span class="icon-pig-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span><p id="cred-anui">anuidade: R$ 15/mês</p></span>
              <button class="cred-btn-want" class="cred-btn-quero">quero um</button>
            </div>
          </div>
        </div>
   </div>
    
 <footer>
   <div class="cred-container-footer-top">
      <p id="cred-id-inicio">inicio</p>
      <p>cartões</p>
      <p id="cred-id-platinum">platinum</p>
   </div>
    <div class="cred-container-footer-meddle">
      <div class="cred-container-footer-meddle-top">
          <p>quem somos</p>
          <p>seguros</p>
          <p>segurança</p>
          <p>serviços</p>
          <p>contratos</p>
          <p>regra do rotativo</p>
      </div>
      <div class="cred-container-footer-meddle-down">
        <p>renegocie</p>
        <p>termos de uso</p>
        <p>tarifas</p>
        <p>cartões</p>
      </div>
    </div>
    <div class="cred-container-footer-down">
      <p id="cred-read">Leu ate aqui? Tá preocupado com as letras miúdas, né? Não precisa, seu cartão é zero anuidade mesmo.</p>
      <p id="cred-bank">Banco Itaucard S.A - CNPJ: 17.192.451/0001-70 - AI. Pedro Calil, 43 - Vila das Acácias - Poá - CEP 04344-902- São Paulo - Brasil</p>
    </div>
    <div class="cred-container-fooner-year">
      <p>&copy;2017 Itaucard S.A</p>
    </div>
 </footer>
